*{
	padding: 0;
	margin: 0;
}
body{
background-color:#8ba08d ;
box-sizing: border-box;
font-family: sans-serif;
}
/*menu section*/
.classynav{
	border:1px solid #690a0e;
	background-color: #1e6f46;
	text-align: center;
	height: 10vh;
}
.classynav ul{
	display: inline-flex;
	list-style: none;
	color: black;
}
.classynav ul li{
	width: 170px;
	margin: 15px;
	padding: 15px;
}
.classynav ul li a{
	text-decoration: none;
	color: rgb(255, 255, 255);
}
 .classynav ul li:hover
{
	background-color: #690a0e;
	border-radius: 6%;
	font-size: 15px;
}
.sub-menu-1
{
 display: none;
 
}
.classynav ul li:hover .sub-menu-1
{ 
	z-index: 1;
	display: block;
	position: absolute;
	border-radius:6%;
	background-color: #1e6f46;
	margin-top: 12px;
	border-color: #690a0e;
	border: 5px;
	border:1px solid #690a0e;
}
.classynav ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 8px;

}
/*menu section ends*/

/*top info site*/
.header-area .top-header-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: #8ba08d;
}
.header-area .top-header-area .top-contact-info {
    position: relative;
    z-index: 1;
	align-content: right;
}
.top-contact-info d-flex align-items-center  col-md-7 col-sm-12 col-xs-12 , .logo1 , .logo2 , .logo3
{
display: inline-flex;
height: 20px;
}
.img-responsive
{
display: block;
height: 50px;
width: 50px;
}

/*top end*/

/*slider*/
.carousel-inner 
{
	color: black;
}

.carousel slide , img
{
	height: 80vh;
}
/*Slider ends*/
.intro-ser-float
{
	display: flex;
}
.intro-sec
{
height: 60vh;
width: 48%;
border-radius: 2%;
margin: 1%;
}
.intro-sec .about-intro-sec
{
	font-size: 130%;
	-webkit-box-shadow: 0px 17px 23px 3px rgba(26,25,25,0.55);
-moz-box-shadow: 0px 17px 23px 3px rgba(26,25,25,0.55);
box-shadow: 0px 17px 23px 3px rgba(26,25,25,0.55);
}
.serv-sec
{
background-color: #1216df;
width: 48%;
height: 60vh;
border-radius: 2%;
margin: 1%;
}
/* Set the size of the div element that contains the map */
.rate-home
{
	background-color: aquamarine;
	width: 98%;
	height: 50vh;
	border-radius: 2%;
	margin-bottom: 1%;
	margin-left: 1%;
	margin-right: 1%;
}

/*footer*/
.container-footer-here{
	display: flex;
    height: 70vh;
    background-color: #1e6f46;
	color: lavender;

}
.container-footer-here div
{
	padding: 10px;
	margin: 10px;
}
.link
{
flex: 1;
}
.blog
{
flex: 1;
}
.contact 
{
flex: 2;
} 
.footer-rt
{
	background-color:#1e6f46;
	width: 100%;
    height: 50px;
    border: 1px solid #690a0e;
	color: wheat;
}
.logo-portion{
	width: 200vh;
}
.about-sec
{
	margin-left: 20vh;
	margin: 10vh;
	border: 1px black;
	width: 80%;
	-webkit-box-shadow: 0px 17px 23px 3px rgba(26,25,25,0.55);
-moz-box-shadow: 0px 17px 23px 3px rgba(26,25,25,0.55);
box-shadow: 0px 17px 23px 3px rgba(26,25,25,0.55);
}
.containt{
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 25px;
}
.about-sec-ab
{
	margin-top: 10vh;
	margin-left: 20vh;
	margin-bottom: 20vh;
	border: 1px black;
	width: 80%;
	-webkit-box-shadow: 0px 17px 23px 3px rgba(26,25,25,0.55);
-moz-box-shadow: 0px 17px 23px 3px rgba(26,25,25,0.55);
box-shadow: 0px 17px 23px 3px rgba(26,25,25,0.55);
}
/*mudati */
.table table-striped table{
	margin-top: 10vh;
	margin-bottom: 10vh;
}
.about-sec-tb
{
	margin-top: 10vh;
	margin-left: 22.5vh;
	margin-bottom: 10vh;
	border: 1px black;
	width: 80%;
	-webkit-box-shadow: 0px 17px 23px 3px rgba(26,25,25,0.55);
-moz-box-shadow: 0px 17px 23px 3px rgba(26,25,25,0.55);
box-shadow: 0px 17px 23px 3px rgba(26,25,25,0.55);
}